In [1]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [5]:
import pandas as pd
food_data = pd.read_csv('/home/adebisi/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')
print(food_data.shape)
food_data.head()

(60943, 12)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

 Question 3

What is the total number of unique countries in the dataset?

In [11]:
food_data['Area'].nunique()

49

In [13]:
# Question 4
y = [(2, 4), (7, 8), (1, 5, 9)]
x=y[1][-1]
print(x)

8

Question 10: Which of these Areas had the highest sum in 2017?

In [22]:
food_data.groupby('Area')['Y2017'].count().sort_values(ascending=False)

Area
Kenya                          1548
Egypt                          1458
Nigeria                        1457
Côte d'Ivoire                  1454
Senegal                        1452
Cameroon                       1441
Uganda                         1435
Ethiopia                       1428
Zambia                         1425
Madagascar                     1425
Malawi                         1411
United Republic of Tanzania    1409
Angola                         1407
Mozambique                     1406
Rwanda                         1397
Congo                          1395
South Africa                   1395
Guinea                         1383
Burkina Faso                   1383
Morocco                        1369
Botswana                       1368
Niger                          1365
Zimbabwe                       1365
Mauritius                      1340
Ghana                          1333
Tunisia                        1314
Chad                           1281
Sudan                          1279
Algeria                        1279
Namibia                        1269
Central African Republic       1262
Benin                          1253
Eswatini                       1251
Mali                           1243
Togo                           1234
Gabon                          1206
Cabo Verde                     1193
Sierra Leone                   1191
Liberia                        1135
Sao Tome and Principe          1122
Gambia                         1116
Lesotho                        1110
Mauritania                     1108
Guinea-Bissau                  1076
Djibouti                       1061
Seychelles                       68
Sudan (former)                   53
Comoros                          45
Ethiopia PDR                     39
Name: Y2017, dtype: int64

Question 11: Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [25]:
food_data.groupby('Element')['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

/tmp/ipykernel_16417/1050501445.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data.groupby('Element')['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [27]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']
ang = pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])
ang

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Question 13: Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [28]:
food_data.groupby('Element')['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

/tmp/ipykernel_16417/1050501445.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data.groupby('Element')['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

Question 14: What is the total Protein supply quantity in Madagascar in 2015?

In [59]:
xxx = food_data.groupby(['Area', 'Element'])['Y2015'].sum()
xxx[400:450]

Area        Element
Liberia     Food supply quantity (kg/capita/yr)         788.10
            Import Quantity                            1036.23
            Losses                                      341.00
            Other uses (non-food)                        18.00
            Processing                                  688.00
            Production                                 3809.48
            Protein supply quantity (g/capita/day)      159.43
            Residuals                                     0.00
            Seed                                         39.00
            Stock Variation                              34.00
            Total Population - Both sexes              4472.00
Madagascar  Domestic supply quantity                  31214.98
            Export Quantity                             494.75
            Fat supply quantity (g/capita/day)           91.85
            Feed                                       2070.22
            Food                                      21120.65
            Food supply (kcal/capita/day)              7685.00
            Food supply quantity (kg/capita/yr)         871.59
            Import Quantity                            1721.80
            Losses                                     2176.00
            Other uses (non-food)                      3957.12
            Processing                                 1803.00
            Production                                29482.89
            Protein supply quantity (g/capita/day)      173.05
            Residuals                                  -616.00
            Seed                                        699.00
            Stock Variation                            -505.00
            Total Population - Both sexes             24234.00
Malawi      Domestic supply quantity                  43271.06
            Export Quantity                             583.02
            Fat supply quantity (g/capita/day)          171.96
            Feed                                      10915.96
            Food                                      21756.12
            Food supply (kcal/capita/day)              9986.00
            Food supply quantity (kg/capita/yr)        1299.39
            Import Quantity                             803.85
            Losses                                     3858.00
            Other uses (non-food)                       626.00
            Processing                                 6235.00
            Production                                47312.24
            Protein supply quantity (g/capita/day)      272.49
            Residuals                                  -511.00
            Seed                                        394.00
            Stock Variation                            4270.00
            Total Population - Both sexes             16745.00
Mali        Domestic supply quantity                  32954.30
            Export Quantity                             170.34
            Fat supply quantity (g/capita/day)          228.89
            Feed                                       2226.90
            Food                                      20933.40
Name: Y2015, dtype: float64

Question 15: Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [61]:
food_data.groupby('Area')['Y2017'].count().sort_values()

Area
Ethiopia PDR                     39
Comoros                          45
Sudan (former)                   53
Seychelles                       68
Djibouti                       1061
Guinea-Bissau                  1076
Mauritania                     1108
Lesotho                        1110
Gambia                         1116
Sao Tome and Principe          1122
Liberia                        1135
Sierra Leone                   1191
Cabo Verde                     1193
Gabon                          1206
Togo                           1234
Mali                           1243
Eswatini                       1251
Benin                          1253
Central African Republic       1262
Namibia                        1269
Sudan                          1279
Algeria                        1279
Chad                           1281
Tunisia                        1314
Ghana                          1333
Mauritius                      1340
Zimbabwe                       1365
Niger                          1365
Botswana                       1368
Morocco                        1369
Burkina Faso                   1383
Guinea                         1383
South Africa                   1395
Congo                          1395
Rwanda                         1397
Mozambique                     1406
Angola                         1407
United Republic of Tanzania    1409
Malawi                         1411
Madagascar                     1425
Zambia                         1425
Ethiopia                       1428
Uganda                         1435
Cameroon                       1441
Senegal                        1452
Côte d'Ivoire                  1454
Nigeria                        1457
Egypt                          1458
Kenya                          1548
Name: Y2017, dtype: int64

In [62]:
food_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

Question 16: Which year had the least correlation with ‘Element Code’?

In [66]:
food_data['Element Code'].corr(food_data['Y2014'])

0.024456819495221747

In [67]:
food_data['Element Code'].corr(food_data['Y2015'])

0.02388919930163993

In [68]:
food_data['Element Code'].corr(food_data['Y2016'])

0.023443997584961445

In [69]:
food_data['Element Code'].corr(food_data['Y2017'])

0.02425400776004577

In [70]:
food_data['Element Code'].corr(food_data['Y2018'])

0.02427857195351958

Question 18: What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [73]:
food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

Question 19: What is the total number and percentage of missing data in 2014 to 3 decimal places?

Question 20
What is the total sum of Wine produced in 2015 and 2018 respectively?
Hint:
Perform a groupby sum aggregation on ‘Item’

In [78]:
food_data.groupby('Item')['Y2015'].sum()

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [80]:
food_data.groupby('Item')['Y2018'].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64